body {
	background-color: #d5e8f6;
	font-family: Verdana, sans-serif;
	background-image: url("https://lh3.googleusercontent.com/YGJ77qN9KiwctZgfqV8Bf3hNo0rZvcFaPKDTkvtS6kVbtwyCS80Pm6dpXzJCCLZE1Q");
}
#output {
	width: 680px;
	height:200px;
	border:thin solid white;
	padding: 10px;
	background-image: url("https://www.nlspacecampus.eu/cache/3/1920x1080/mob-shutterstock-481251031-20210610135721_1920x1080.jpg");
	color: white;
	font-size:20px;
}
.Fact1 {
	color:white;
	background-color: green;
	border: none;
	outline:none;
	padding: 15px 32px;
	font-size:1.5em;
	font-family: Verdana, sans-serif;
	border-radius: 10px;
	transition-duration: 0.4s;
	margin-bottom: 20px;
}
.Fact1:hover{
	background-color: white;
	color: black;
	
	
}.Fact2 {
	color:white;
	background-color: green;
	border: none;
	outline:none;
	padding: 15px 32px;
	font-size:1.5em;
	font-family: Verdana, sans-serif;
	border-radius: 10px;
	transition-duration: 0.4s;
	margin-bottom: 20px;
}
.Fact2:hover{
	background-color: white;
	color: black;
}.Fact3 {
	color:white;
	background-color: green;
	border: none;
	outline:none;
	padding: 15px 32px;
	font-size:1.5em;
	font-family: Verdana, sans-serif;
	border-radius: 10px;
	transition-duration: 0.4s;
	margin-bottom: 20px;
}
.Fact3:hover{
	background-color: white;
	color: black;
}.Fact4{
	color:white;
	background-color: green;
	border: none;
	outline:none;
	padding: 15px 32px;
	font-size:1.5em;
	font-family: Verdana, sans-serif;
	border-radius: 10px;
	transition-duration: 0.4s;
	margin-bottom: 20px;
}
.Fact4:hover{
	background-color: white;
	color: black;
}.Fact5 {
	color:white;
	background-color: green;
	border: none;
	outline:none;
	padding: 15px 32px;
	font-size:1.5em;
	font-family: Verdana, sans-serif;
	border-radius: 10px;
	transition-duration: 0.4s;
	margin-bottom: 20px;
}
.Fact5:hover{
	background-color: white;
	color: black;
} h1 {
	width: 40%;
	color: white;
	background-color: black;
	font-family: Verdana, san-serif;
	border: thin solid purple;
	outline: none;
	
}

